body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

p {
  margin:0 0 20px;
}


p:last-child {
  margin: 0;
}



input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


ul {list-style:none; padding:0; margin:0;}

* { 
  box-sizing: border-box; 
 
 }

.wrapper {
  overflow:hidden;
}

.container {
  margin:0 auto;
  max-width:1920px;
  width:100%;
}

.header {
  width:100%;
  background:#f3f3f3;
}

.header-blocks {
  display:flex;
  justify-content: space-between;
}

.languege-menu {
  padding:20px 100px;
}

.languege-drop-menu {
  border:none;
  background: #f1f1f1;
  border:1px solid #f1f1f1;
  cursor:pointer;
}

.languege-drop-menu:focus {
  background: #f1f1f1;
}


.languege-drop-menu option {
  font-size:15px;
  border-radius:5px;
  cursor:pointer;
}

.top-nav {
  padding:20px 100px 20px 0;
}

.top-nav li {
  display:inline-block;
  padding: 0px 0px 0 40px;
}

.top-nav a {
  color:#333;
  font-size:20px;
}

.bottom-nav-blocks {
  display:flex;
  justify-content: space-between;
}

.logo {
  padding:45px 0px 0 87px;
}

.logo img {
  width:100%;
}

.search {
  padding: 0px 0px 0 60px ;
  position:relative;
  margin:40px 20px;
  width:50%;
}

.search input {
  border: 2px solid  #007aff;
  border-radius:3px;
  padding:20px 0px 20px 15px;
  width:100%;
}

.search button {
  border:none;
  background: #007aff;
  outline:none;
  position:absolute;
  top:0;
  right:0;
  padding:18px 20px 13px 20px;
  cursor:pointer;
}

.select-wrapper {
  position: relative;
  border-radius: 3px;
  float:right;
  margin:-45px 70px;
}


.select-wrapper:hover {
  box-shadow: 0px 0px 3px gray;
}

.select-wrapper select {
  width: 145px;
  height: 28px;
  padding: 0 20px 0 7px;
  background: transparent;
  border: 0;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
}
.select-wrapper select::-ms-expand{
    display: none;             /* remove arrow IE     */
}

.select-arrow-2 {
  width: 8px;
  height: 0px;
  background: #6C7231;
  position: absolute;
  right: 6px;
  top: 14px;
}
.select-arrow-2:before {
  content: '';
  position: absolute;
  top: -7px;
  border: 4px solid transparent; 
  border-bottom-color: #6C7231; 
  border-top: 0;
}
.select-arrow-2:after {
  content: '';
  position: absolute;
  top: 3px;
  border: 4px solid transparent; 
  border-top-color: #6C7231; 
  border-bottom: 0;
}


.header-user-buttons {
  float:left;
  padding:45px 85px 0 0px;
  position: relative;
}

.header-user-buttons li:last-child > a {
  color:#007aff;
  font-weight:bold;
  font-size:26px;
}

.header-user-buttons li {
  display:inline-block;
  padding:0px 15px 0px 15px;
}

.icon-index {
  position: absolute;
  color:#333;
  background: #f1f1f1;
  border-radius:50%;
  padding:5px 12px 5px 12px;
  font-size:18px;
  margin: -22px 18px;
}

.basket-index {
  position: absolute;
  color:#fff;
  background: red;
  border-radius:50%;
  padding:5px 12px 5px 12px;
  font-size:18px;
  margin:-22px 18px;
}

.main-menu {
  display:flex;
  padding-left:71px;
  width:100%;
  position: relative;
  padding-bottom:10px;
}

.main-menu a {
  font-size:22px;
  color:#333;
  font-weight:bold;
  padding-right:30px;
}

.main-menu li {
  display:inline-block;
  padding:30px 15px 30px 20px;
}

.main-menu .after-elements-arrow::after {
  content:'';
  background-image:url(../images/arrow-down.png);
  position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width:16px;
  height:16px;
  margin:11px 0 0 12px;
}

.main-menu .after-elements-arrow:hover::after {
  content:'';
  background-image:url(../images/hover-arrow-down.png);
  position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width:16px;
  height:16px;
}


.menu-button-style::after {
  content:'';
  background-image:url(../images/triangle-after-element.png);
  position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width:16px;
  height:16px;
  margin:11px 0 0 75px;
}

.main-menu .active-deal-element {
  color:red;
}

.main-drop-menu li {
  display:block;
  border-top:1px solid #ccc;
  padding:15px 245px 10px 10px;
  background: #f1f1f1;
}

.menu-button-style:focus ~ .main-drop-menu,
.menu-button-style:active ~ .main-drop-menu,
.main-drop-menu:hover
{
  display:block;
}

.main-drop-menu  {
  display:none;
  position:absolute;
  padding-top:12px;
  z-index: 50;
}


.menu-button-style {
  background:#007aff;
  color:#fff;
  font-size:20px;
  padding:15px 120px 15px 30px;
  border-radius:5px;
  cursor:pointer;
}

.main-menu a:hover {
  color:#409bff;
}

.right-drop-menu-icon:focus ~ .right-drop-menu,
.right-drop-menu-icon:active ~ .right-drop-menu,
.right-drop-menu:hover
{
  display:block;
}

.right-drop-menu-icon {
  cursor:pointer;
  padding:10px;
  position:absolute;
  right:95px;
}

.right-drop-menu {
  display: none;
  position: absolute;
  padding:15px;
}

.right-drop-menu li {
  display:block;
}

.main-slider-section {
  background: #f5f5f5;
}

.slider-inner {
  overflow: hidden;
}

.slider {
  position: relative;
  background:#f5f5f5;
}

.slides {
  width: 300%;
  transition: all 0.9s;
}

#btn1:checked~.slider-inner .slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-33.33333%);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-66.66666%);
}

.slide {
  float: left;
  margin: 0 auto;
  padding: 0;
}


.slides div {
  width: 33.3333%;
}


.switch label {
  display: block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin: 10px 10px;
  border-radius: 50%;
  background-color: #FFF;
  border: 2px solid #007aff;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  z-index: 50;
  right:0;
  bottom:0;
  position:absolute;
  bottom: 300px;
  right: 80px;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: #007aff;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: #007aff;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: #007aff;
}

.slide {
  float:left;
}

.slide p {
  font-size:20px;
  color:#333;
}

.slide h2 {
  font-size:48px;
}

.slide span {
  font-weight:normal;
}

.slide h3 {
  font-size:42px;
  font-weight:normal;
}

.slide a {
  color: #007aff;
  border: 3px solid #007aff;
  padding: 15px 35px;
  font-size: 24px;
  position: absolute;
  margin-top: 30px;
  font-weight: bold;
}

.slide-elements {
  margin: 210px 100px 300px;
  float:left;
}

.slide-elements h2, h3 {
  margin:0;
}


.present-blocks {
  padding-top: 40px;
}

.present-blocks ul {
  display:flex;
  justify-content: space-around;

}

.present-blocks li {
  display:inline-block;
  padding:80px 60px 80px 60px;
  width:34%;
}

.present-blocks a {
  display:block;
  color:#fff;
  font-size:32px;
}

.present-blocks li:first-child {
  background: #6252e1;
  margin-left: 100px;
}

.present-blocks li:last-child {
  background: #2293da; 
  margin-right: 100px;
}

.present-blocks li:nth-child(2n) {
  background: #54ce84;
  margin: 0 30px;
}


.present-blocks span {
  font-weight:bold;
}

.present-blocks li a:last-child {
  text-decoration: underline;
  font-size:18px;
  padding-top:10px;
}

.best-selling-slider {
  display:flex;
}

.slider-controls-block h3 {
  font-size:36px;
  padding:100px 65px 100px 100px;
}

.slider-controls-block span {
  display: block;
}

.slider-controls-block a {
  color:#007aff;
  font-size:24px;
  font-weight:bold;
  padding:0px 0 0 100px;
}

.catalog-arrow-button::after {
  content:'';
  position: absolute;
  background: url("../images/catalog-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  width:20px;
  height:18px;
  margin-top:9px;
  margin-left:10px;
}

.catalog-arrow-button {
  position: relative;
}


.slider-blocks a {
  color:#333;
  font-weight:bold;
  font-size:24px;
}


.slider-blocks article  {
  padding:0 0px 0 45px;
}


.slider-blocks {
  text-align:center;
  transition: all 0.9s;
  padding-top:100px;
  display: flex;
}

.slider-settings {
    transition: all 0.9s;
    overflow: hidden;
}


#switch1:checked ~ .controls-arrows label:nth-child(3), 
#switch2:checked ~ .controls-arrows label:nth-child(1),
#switch3:checked ~ .controls-arrows label:nth-child(2){
  background: url(../images/deals-left-arrow.png) no-repeat; 
  display: block;
  height: 30px;
  width: 30px;
  float:left;
  margin-right:20px;
}


#switch1:checked ~ .controls-arrows label:nth-child(2), 
#switch2:checked ~ .controls-arrows label:nth-child(3),
#switch3:checked ~ .controls-arrows label:nth-child(1){
  background: url(../images/deals-right-arrow.png) no-repeat; 
  display: block;
  height: 30px;
  width: 30px;
  float:right;
  margin-left:20px;
}

label, a{ 
  cursor: pointer;
}

#switch1:checked~.slider-settings .slider-blocks {
  transform: translate(0);
}

#switch2:checked~ .slider-settings .slider-blocks {
  transform: translate(-101%);
}

#switch3:checked~ .slider-settings .slider-blocks {
  transform: translate(-201%);
}

.standart-controls { 
  display:none;
}

.controls-arrows {
  position: absolute;
  margin: 350px 125px 0;
  z-index: 50;
}

.slider-settings {
  margin-right:100px;
}

.shares-block {
  display:flex;
  padding-top:100px;
}


.main-deals-block {
  border:2px solid #4cd964;
  width: 500px;
  margin-left:100px;
}

.deals-time-slider {
  border-radius:5px;
  position: relative;
  text-align:center;
}

.deals-time-slider span {
  font-weight:normal;
}

.deals-time-slider h3 {
  font-size:32px;
}



.slider-control-item {
  position: relative;
  padding: 30px 0 30px;
  border-bottom: 1px solid #ccc;
  margin:0 50px;
}

.deals-slider-item {
  text-align:center;
}

.deals-item-name a {
  font-size:24px;
  color:#333;
  font-weight:bold;
}

.deals-item-name p {
  font-size:32px;
  color:#007aff;
  font-weight:bold;
}

.deals-item-name span {
  display:inline-block;
  color:#ccc;
  font-size:28px;
  padding-left:10px;
}

.deals-slider-image {
  width:100%;
}

.deals-item-indicate {
  position: absolute;
  color:#fff;
  background: #4cd964;
  border-radius:50%;
  padding:25px 10px;
  width: 100px;
  height: 100px;
  right:0;
  top:0;
  margin:30px 20px;
}

.status-bar {
  text-align:center;
}

.indicators-elements {
  display:flex;
  justify-content: space-around;
  padding-top:30px;
}

.indicators-elements p {
  font-size:22px;
  color:#ccc;
}

.indicators-elements div {
  display:flex;
}

.green-indicator {
  color:#4cd964;
  font-size:22px;
  padding-left:5px;
}

.red-indicator {
  color:#ff3b30;
  font-size:22px;
  padding-left:5px;
}

.line-status {
  background: #f1f1f1;
  border-radius: 5px;
  height:10px;
  margin:10px 50px 40px;
}

.progress-line {
  background: #4cd964;
  width:30%;
  border-radius: 5px;
  height:100%;
}

.data-block {
  padding:60px 20px ;
  border-top:3px solid #f1f1f1;
  margin:0 50px;
}

.data-block h3 {
  font-size:28px;
}

.data-block-description {
  font-size:24px;
}

.data-block li {
  display:inline-block
}

.data-block li > div > a {
  color:#333;
  font-size:32px;
  font-weight:bold;
}

.data-block li > p {
  font-weight:bold;
  font-size:18px;
}

.data-block li > div {
  border-radius: 50%;
  padding:10px;
  background: #f5f5f5;
  width: 70px;
  height: 70px;
}

.deals-slider-settings {
  margin:0;
}

.deals-slider-blocks {
  width:300%;
  display: flex;
  transition: all 0.9s;
}

#btn00001:checked~.deals-slider-settings .deals-slider-blocks {
  transform: translate(0);
}

#btn00002:checked~.deals-slider-settings .deals-slider-blocks {
  transform: translate(-33.33333%);
}

#btn00003:checked~.deals-slider-settings .deals-slider-blocks {
  transform: translate(-66.66666%);
}

#btn00001:checked ~ .deals-arrow-controls label:nth-child(3), 
#btn00002:checked ~ .deals-arrow-controls label:nth-child(1),
#btn00003:checked ~ .deals-arrow-controls label:nth-child(2){
      background: url(../images/left-deals-slider-arrow.png);
    position: absolute;
    width: 40px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 4%;
    transform: translateY(-28%);
    margin-left: 15px;
}


#btn00001:checked ~ .deals-arrow-controls label:nth-child(2), 
#btn00002:checked ~ .deals-arrow-controls label:nth-child(3),
#btn00003:checked ~ .deals-arrow-controls label:nth-child(1){
      background: url(../images/right-deals-slider-arrow.png);
    position: absolute;
    width: 40px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    top: 4%;
    transform: translateY(-28%);
}

.deals-radio-controls {
  display: none;
}








.top-slider-nav li  {
  display: inline-block;
  padding:0 20px 0 45px;
}

.catalog-slider-items li {
  display:inline-block;
  width:33%;
}

.right-catalog-slider {
  width: calc(95.5% - 550px);
}

.right-catalog-slider ul > li > div:hover {
  box-shadow: inset 0 0 0 5px #5ac8fa;
  border-radius:2px;
  transition: all 0.2s;
}

.right-catalog-slider .slider-content-block:hover .catalog-item-name .static-text{
  display: none;
}

.right-catalog-slider .slider-content-block:hover .catalog-item-name .hover-text{
  display: block;
  font-weight:bold;
  color:#007aff;
  font-size: 20px;
  margin-bottom:20px;
}

.right-catalog-slider a {
  font-size:28px;
  color:#7f7f7f;
}

.right-catalog-slider a:hover {
  font-weight:bold;
  color:red;
}

.catalog-slider-items ul {
  display: flex;
  flex-wrap: wrap;
}

.catalog-slider-items li > div {
  text-align:center;
  padding: 45px 45px;
  width:100%;
}

.slider-item img {
  width:100%;
}

.catalog-item-name p {
  color:#007aff;
  font-size:22px;
  font-weight:bold;
}

.catalog-item-name a {
  font-size:20px;
  color:#333;
}

.slider-wrapper {
  position: relative;
}

.right-slides {
  width:300%;
  display:flex;
  transition: all 0.9s;
}

.right-slider-inner {
  overflow: hidden;
}

.catalog-slider-items {
  width:33.333%;
}

#btn001:checked~.right-slider-inner .right-slides {
  transform: translate(0);
}

#btn002:checked~.right-slider-inner .right-slides {
  transform: translate(-33.33333%);
}

#btn003:checked~.right-slider-inner .right-slides {
  transform: translate(-66.66666%);
}

.slider-wrapper input[name="right-slider-controls"] {
  display: none;
}

.right-slider-controls {
  position: absolute;
  z-index:1000;
  left:0px;
  right:0px;
  text-align:center;
}

.right-slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin: 10px 10px;
  border-radius: 50%;
  border: 2px solid #007aff;
}

#btn001:checked~.right-slider-controls label[for="btn001"] {
  background-color: #007aff;
}

#btn002:checked~.right-slider-controls label[for="btn002"] {
  background-color: #007aff;
}

#btn003:checked~.right-slider-controls label[for="btn003"] {
  background-color: #007aff;
}

.slider-item {
  position: relative;
  width:100%;
}

.yellow-item-indicator {
  position: absolute;
  font-size: 16px;
  background: #ffcc00;
  color: #333;
  right: 0;
  font-weight: bold;
  top: 0;
  padding:0 12px;
}

.red-item-indicator {
  background: red;
  color:#fff;
}

.best-seller-slider {
  overflow: hidden;
  position: relative;
  padding-top:150px;
}

.top-slider h3 {
  font-size:32px;
  font-weight:bold;
}

.best-slider-settings {
  margin-left:100px;
}

.best-slider-settings article {
  padding:30px 15px;
  position: relative;
}

.item-info-block p {
  color: #007aff;
  font-size: 22px;
  font-weight: bold;
}

.item-info-block a {
  font-size: 20px;
  color: #333;
  font-weight:normal;
}

.corrected-price {
  color:#d6d6d6;
  text-decoration:line-through;
  font-weight:normal;
  padding-left:25px;
}

.best-slider-settings article:hover {
  box-shadow: inset 0 0 0 5px #5ac8fa;
  border-radius:2px;
  transition: all 0.2s;
  opacity:10px;
}

.best-slider-settings article:hover .item-info-block .static-text{
  display: none;
}

.best-slider-settings article:hover .item-info-block .hover-text{
  display: block;
  font-weight:bold;
  color:#007aff;
  font-size: 20px;
  margin-bottom:20px;
}

.hover-text {
  display:none;
}

#btn01:checked~ .slider-settings .slider-blocks {
  transform: translate(0);
}

#btn02:checked~ .slider-settings .slider-blocks {
  transform: translate(-100%);
}

#btn03:checked~ .slider-settings .slider-blocks {
  transform: translate(-150%);
}

#btn01:checked ~ .controls-arrows label:nth-child(3), 
#btn02:checked ~ .controls-arrows label:nth-child(1),
#btn03:checked ~ .controls-arrows label:nth-child(2){
  background: url(../images/deals-left-arrow.png) no-repeat; 
  display: block;
  height: 30px;
  width: 30px;
  float:left;
}


#btn01:checked ~ .controls-arrows label:nth-child(2), 
#btn02:checked ~ .controls-arrows label:nth-child(3),
#btn03:checked ~ .controls-arrows label:nth-child(1){
  background: url(../images/deals-right-arrow.png) no-repeat; 
  display: block;
  height: 30px;
  width: 30px;
  float:right;
  margin-left:10px;
}

.radio-controls {
  display:none;
}

.top-slider {
  display: flex;
  border-bottom:3px solid #f1f1f1;
  padding:30px 0;
  margin:0 100px;
}

.top-slider span {
  font-weight:normal;
}

.green-item-indicator {
  color:#fff;
  background: #4cd964;
}

.skyblue-item-indicator {
  color:#fff;
  background: #5ac8fa;
}

.best-slider-controls {
  position: absolute;
  right:0;
  margin:0;
  padding:30px 100px;
}








.tabs-section {
  background: #f5f5f5;
}


div.tabs {
    height: 800px;
    overflow: hidden;
    text-align:center;
}

ul.pixel-tabs {
    height: 800px;
    overflow: visible;
}


ul.pixel-tabs li {
    display: inline-block;
}

ul.pixel-tabs li a.active-tab {
    background: #fff;
        font-weight:bold;
}
ul.pixel-tabs li a {
    color: #333;
    display: inline-block;
    padding: 0px 12px;
    font-size:32px;

}

.content-tab {
    padding: 100px;
}

ul.pixel-tabs {
    height: 800px;
    overflow: visible;
}

ul.pixel-tabs li {
    display: inline-block;
    line-height: 30px;
}

ul.pixel-tabs li a.tab {
    background: #fff;
    height: 29px;


}

ul.pixel-tabs li a.active-tab {
    background: #fff;
}
ul.pixel-tabs li a {
    color: #666;
    text-decoration: none;
    display: inline-block;
    padding: 0px 12px;
    white-space: nowrap;
}

.todays-deals-slider-caption {
  text-align:center;
  font-size:36px;
}

.caption-style {
  font-weight:normal;
}

.todays-deals-slider {
  text-align:center;
  background:#f5f5f5;
}

.todays-deals-slider h2 {
  font-size:36px;
  padding-top:100px;
}

.todays-deals-slider li {
  display:inline-flex;
  padding:15px;

}

.todays-deals-slider li > a {
  color:#333;
  font-size:24px;
}

.caption-content {
  border-top:2px solid #eee;
  padding:20px 100px 0 100px;
  position: relative;
}

.todays-deals-catalog {
  display:flex;
}

.caption-weight {
  font-weight:normal;
}

.caption-content input {
  display:none;
}

.left-lateral-block-items ul {
  display:flex;
  flex-direction: column;
}