body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

p {
  margin:0 0 20px;
}


p:last-child {
  margin: 0;
}



input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


ul {list-style:none; padding:0; margin:0;}

* { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box; 
 }

 [type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    display: none;
}

h3 {
  margin:0;
}

.wrapper {
  overflow:hidden;
}

.container {
  margin:0 auto;
  max-width:1920px;
  width:100%;
}

.header {
  width:100%;
  background:#f3f3f3;
}

.header-blocks {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.languege-menu {
  padding:20px 70px;
}

.languege-drop-menu {
  border: none;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  cursor: pointer;
  font-size: 20px;
}

.languege-drop-menu_2 {
  padding-left: 20px;
  width: 90px;
}

.languege-drop-menu:focus {
  background: #f1f1f1;
}


.languege-drop-menu option {
  font-size:15px;
  border-radius:5px;
  cursor:pointer;
}

.header-nav {
  padding:20px 74px;
}

.header-nav li {
  display:inline-block;
  padding: 0px 0px 0 37px;
}

.header-nav a {
  color:#333;
  font-size:20px;
}

.logo {
  padding: 31px 0px 0 37px;
}

.burger-icon {
  position: absolute;

}

.top-nav-block {
  display: flex;
  width:100%;
  padding: 0px 21px;
}

.nav-menu-items {
  padding-left: 70px;
  margin: 0 -21px;
}

.nav-menu-items li {
  display: inline-block;
  padding: 0 7px 0 26px;
}

.nav-menu {
  width:100%;
  display: flex;
  justify-content: space-between;
  padding: 44px 45px 0px 0;
  position: relative;
}

.nav-menu-items li > a {
  color:#333;
  font-weight: bold;
  font-size:22px;
  position: relative;
  padding: 0 30px 0 0;
}

.nav-menu li > a:hover {
  color:#60acff;
}

.red-item {
  color:#ff3b30;
}

.right-drop-menu {
  padding:10px;
  cursor: pointer;
}

.right-drop-menu-icon:focus ~ .right-drop-sub-menu,
.right-drop-menu-icon:active ~ .right-drop-sub-menu,
.right-drop-sub-menu:hover
{
  display:block;
  position: absolute;
  background: #eee;
  width:500px;
  right:0;
}

.right-drop-menu-icon {
  position: absolute;
  right: 0;
  padding: 18px 25px;
  right: 1.9%;
  top: 50%;
  transform: translateY(-28%);
}

.right-drop-sub-menu {
  display: none;
}

.right-drop-sub-menu li {
  display: none;
}

.right-drop-sub-menu li > a {
  font-weight:bold;
  font-size:22px;
  color:#333;
}

.nav-menu-items .drop-item::after {
  content:'';
  background-image:url(../images/arrow-down.png);
  position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width:16px;
  height:16px;
  right:0;
  top:50%;
  transform: translateY(-40%);
}

.nav-menu .drop-item:hover::after {
  content:'';
  background-image:url(../images/hover-arrow-down.png);
  position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width:16px;
  height:16px;
}

@media only screen and (max-width : 1910px)   {
  .nav-menu-items li:last-child {
    display: none;
  }

  .right-drop-sub-menu li:last-child {
  display: block;
  }

}

@media only screen and (max-width : 1720px)   {
  .nav-menu-items li:nth-child(8n) {
    display: none;
  }

  .right-drop-sub-menu li:nth-child(4n) {
  display: block;
  }
}

@media only screen and (max-width : 1510px)   {
  .nav-menu-items li:nth-child(7n) {
    display: none;
  }

  .right-drop-sub-menu li:nth-child(3n) {
    display: block;
  }
}

@media only screen and (max-width : 1285px)   {
  .nav-menu-items li:nth-child(6n) {
    display: none;
  }

  .right-drop-sub-menu li:nth-child(2n) {
    display: block;
  }
}

@media only screen and (max-width : 1135px)   {
  .nav-menu-items li:nth-child(5n) {
    display: none;
  }

  .right-drop-sub-menu li:nth-child(1n) {
    display: block;
  }
}

.bottom-nav-block {
  padding: 28px 75px 21px 75px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.button-style:focus ~ .button-sub-menu,
.button-style:active ~ .button-sub-menu,
.button-sub-menu:hover
{
  display:block;
  background: #eee;
  width:500px;
}

.button-sub-menu {
  display: none;
  position: absolute;
  left: 0;
}

.button-style {
  font-size:20px;
  color:#fff;
}

.drop-button-block {
  padding: 20px 0 0 30px;
  position: relative;
  background: #007aff;
  border-radius:5px;
  width:370px;
}

.button-style::after {
  content:'';
  background-image:url(../images/triangle-after-element.png);
  position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width:16px;
  height:16px;
  top:50%;
  right:0;
  right:7.2%;
  transform: translateY(-30%);
}

.search {
  position:relative;
  width:55%;
}

.search input {
  border: 1px solid  #007aff;
  border-radius:3px;
  padding:19px 0px 19px 20px;
  width:100%;
  font-size:20px;
  position: relative;
  height:100%;
}

.search button {
  border: none;
  background: #007aff;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 16px 25px;
  cursor: pointer;
}

.select-wrapper {
  border-radius: 3px;
  position: absolute;
  right: 8.8%;
  top: 0;
  top: 49%;
  transform: translateY(-50%);
}

.select-wrapper:hover {
  -webkit-box-shadow: 0px 0px 3px gray;
          box-shadow: 0px 0px 3px gray;
}

.select-wrapper select {
  padding: 0 30px 0 0px;
  background: transparent;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size:20px;
  font-weight:bold;
}
.select-wrapper select::-ms-expand{
    display: none;
}

.select-arrow-2 {
  width: 15px;
  height: 0px;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}

.select-arrow-2:before {
  content: '';
  position: absolute;
  top: -10px;
  border: 5px solid transparent;
  border-bottom-color: #333;
  border-top: 0;
}

.select-arrow-2:after {
  content: '';
  position: absolute;
  top: 6px;
  border: 5px solid transparent;
  border-top-color: #333;
  border-bottom: 0;
}

.user-indicator-items {
  display: flex;
}

.user-indicators-block {
  padding-left:57px;
}

.user-indicator-items li {
  display: inline-block;
  padding: 18px 20px;
  position: relative;
  width:24%;
}

.price-item {
  color:#333;
  font-weight:bold;
  font-size:24px;
}

.indicator {
  position: absolute;
  right: 0;
  background: #eee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  top: 35%;
  color:#333;
  font-weight:bold;
  padding:5px;
}


.red-indicator {
  background: red;
  color:#fff;
  font-weight:normal;
}

.page-swift-section {
  background: #f3f3f3;
}

.top-controls-block {
  display: flex;
  padding:10px 75px;
  justify-content: space-between;
}

.first-page-link {
  color:#333;
  font-size:18px;
}

.first-page-link::after {
  content:'';
  background-image:url(../images/deals-right-arrow.png);
  position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width:16px;
  height:16px;
  left: 18.5%;
  top: 50%;
  transform: translateY(-50%);
}

.second-page-link {
  color:#333;
  font-weight:bold;
  font-size:18px;
  padding-left:33px;
}

.page-swift {
  position: relative;
  padding:15px 15px 15px 0px;
}

.controls-items {
  display: flex;
}

.controls-items li{
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 10px 0 10px 14px;
  background: #fff

}

.controls-items a {
  padding:10px;
  display: block;
}

#first-images-slider-tab:checked ~ .images-slider-labels #first-images-slider-label {
  -webkit-box-shadow: inset 0 0 0 1px #5ac8fa;
          box-shadow: inset 0 0 0 1px #5ac8fa;
}

#second-images-slider-tab:checked ~ .images-slider-labels #second-images-slider-label {
  -webkit-box-shadow: inset 0 0 0 1px #5ac8fa;
          box-shadow: inset 0 0 0 1px #5ac8fa;
}

#third-images-slider-tab:checked ~ .images-slider-labels #third-images-slider-label {
  -webkit-box-shadow: inset 0 0 0 1px #5ac8fa;
          box-shadow: inset 0 0 0 1px #5ac8fa;
}

#first-images-slider-tab:checked ~ #first-images-slider-tabs-content {
  display: block;
}

#second-images-slider-tab:checked ~ #second-images-slider-tabs-content {
  display: block;
}

#third-images-slider-tab:checked ~ #third-images-slider-tabs-content {
  display: block;
}

.carousel-control-arrow {
  position: absolute;
  right: 11%;
  top: 1%;
  width:30px;
  height:30px;
  border:5px solid #eee;
  border-radius: 50%;
  padding: 20px 37px 40px 25px;
}

.bottom-item-carousel-block {
  display: flex;
  width:100%;
  position: relative;
  justify-content: space-between;
}

.images-slider-labels {
  display: flex;
  flex-direction:column;
}

.images-slider-labels label {
  border: 1px solid #ccc;
  padding:5px;
  width: 71px;
  height: 71px;
  margin: 10px 0 -1px;
}

.images-slider-labels img {
  width:100%;
}

.images-slider-tab-content {
  width: 84%;
  text-align: center;
  margin-left:33px;
}

.images-slider-tab-content img {
  width: 100%;
}

.content {
  display: none;
}

#first-images-slider-tab:checked ~ .carousel-control-arrow label:nth-child(2),
#second-images-slider-tab:checked ~ .carousel-control-arrow label:nth-child(3), 
#third-images-slider-tab:checked ~ .carousel-control-arrow label:nth-child(1) {
  background: url(../images/lateral-slider-control_1.png) no-repeat;
  display: block;
  height: 30px;
  width: 30px;
}

.lateral-block-items {
  width:52%;
}

.instructions-block {
  font-size:18px;
  color:#7f7f7f;
}

.lateral-block-item-info {
  display: flex;
  flex-direction: column;
  width:50%;
}

.product-blocks-wrapper {
  display: flex;
  padding: 50px 75px 0;
}

.top-info-block {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding:10px 0;
}

.blue-link {
  color:#5ac8fa;
}

.indicators-block {
  position: absolute;
  right:0;
  top: 35%;
}

.yellow-indicator {
  color:#333;
  background: #fff000;
  font-weight:bold;
  padding:3px 17px;
  font-size:14px;
  margin-right:6px;
}

.green-indicator {
  color: #fff;
  background: #4cd964;
  padding:3px 15px;
  font-weight:bold;
  font-size:14px;
}

.middle-description-block {
  line-height: 33px;
}

.middle-description-block h3 {
  font-size:32px;
  padding-top: 22px;
}

.item-price {
  font-size:28px;
  color:#007aff;
  font-weight:bold;
}

.old-item-price {
  font-size:28px;
  color:#bbb;
  font-weight:bold;
  text-decoration: line-through;
  padding-left:30px;
}

.price-block {
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}


.price-block p {
  color:#bbb;
  font-size:20px;
}

.product-state {
  color:#4cd964;
  font-size:20px;
  padding-left:5px;
}

.stars-block  {
  display: flex;
  color:#fed700;
  font-size:24px;
  padding-top:10px;
}

.stars-block a {
  font-size:18px;
  color:#333;
  padding-left:5px;
}

.description-text {
  font-size:20px;
  padding:2px 0 10px 0;
  color:#737373;
  line-height:26px;
}

.product-advantage-block {
  margin-top: 4px;
  line-height: 26px;
}

.advantage-items li {
  font-size:18px;
  color:#878787;
  padding:5px 0 5px 0;
}

.product-text_2 {
  font-weight: bold;
  font-size: 18px;
  padding: 9px 0px;
  margin:0;
}


.product-number {
  font-weight:normal;
  color:#737373;
}

.select-product-block {
  display: flex;
}

.product-text_3 {
  font-size:22px;
  color:#737373;
  padding: 7px 0px 0px 0;
}

.secect-form {
  width:100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  position: relative;
}

.select-wrapper_2 {
  border-radius: 3px;
  position: absolute;
  left:19%;
  top: 0;
  bottom:0;
  width:40px;
  border-left:3px solid #ccc;
}

.secect-form select {
  font-weight: bold;
  font-size: 22px;
  padding: 6px;
}

.secect-form select:first-child {
  font-weight:bold;
  font-size:22px;
  padding: 8px 8px 8px 62px;
}

.select-block_1 {
  width:25%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.select-block_2 {
  width:34%;
}

.select-block_3 {
  width:34%;
}

.select-product-block {
  position: relative;
  border-radius: 3px;
  padding-top:12px;
}

/*
.select-block_1 {
  background: transparent;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
}

.select-wrapper_2 select {
  padding: 0 30px 0 0px;
  background: transparent;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size:20px;
  font-weight:bold;
}
.select-wrapper_2 select::-ms-expand{
    display: none;
}

.select-arrow-3 {
  position: absolute;
  right: 45%;
  top: 50%;
  transform: translateY(-50%);
}

.select-arrow-3:before {
  content: '';
  position: absolute;
  top: -10px;
  border: 5px solid transparent;
  border-bottom-color: #333;
  border-top: 0;
}

.select-arrow-3:after {
  content: '';
  position: absolute;
  top: 6px;
  border: 5px solid transparent;
  border-top-color: #333;
  border-bottom: 0;
}

.user-buttons {
  display: flex;
  padding:45px 0;
  justify-content: space-between;
}

.first-button {
  background: #ff3b30;
  border-radius: 35px;
  width: 31%;
  text-align: center;
}

.first-button a {
  font-size:22px;
  color:#fff;
  padding:14px 0px;
  display: block;
}

.second-button {
  display: flex;
  margin-right:62px;
}

.second-button a:first-child{
  background: #eee;
  border-radius: 50%;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 17px 0;
}

.second-button a:last-child {
  color:#333;
  font-weight:bold;
  font-size:20px;
  padding: 13px 3px 10px 10px;
}

.third-button {
  display: flex;
  margin-right:40px;
}

.third-button a:first-child {
  background: #eee;
  border-radius: 50%;
  display: block;
  width: 55px;
  height: 55px;
  padding: 15px 8px;
}

.third-button a:last-child {
  color:#333;
  font-weight:bold;
  font-size:20px;
  padding: 13px 0px 10px 10px;
}

.caption-block_1 {
  font-size:32px;
  padding: 30px 0px 17px;
  border-bottom: 5px solid #f5f5f5;
  margin: 35px 75px 0;
}

.caption-style {
  font-weight: normal;
}

.select-catalog-items {
  display: flex;
  text-align: center;
}

.catalog-images {
  width:100%;
  position: relative;
}

.catalog-images img {
  width:100%;
}

.select-catalog-items li {
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  line-height:19px;
}

.select-catalog_1 {
  width:62%;
}

.catalog-select-wrapper {
  display: flex;
  padding:0 75px;
}

.catalog-item-info {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.item-price_2 {
  color:#007aff;
  font-weight:bold;
}

.catalog-item-info a {
  color:#333;
}

input[type=checkbox], input[type=radio] {display: none;}

.checkbox-block label::after {
  content: "\2713";
  color: transparent;
  border:3px solid #007aff;;
  font-size: 20px;    
  line-height: 22px;
  height: 20px;
  width: 20px;
  transition: color ease .3s;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.check_1:checked + label:after {
  color: #fff;
  background: #007aff;
}

.check_1:checked + label {
  color: #333;
}

.check_1:checked + label .active-text {
  display: inline-block;
}

.check_1:checked + label .inactive-text {
  display: inline-block;
}

.inactive-text {
  display: none;
}

.active-text {
  display: none;
}

.check_1 + label {
  color: #007aff;
  padding-top:35px;
  position: relative;
}

.checkbox-block {
  display: flex;
  justify-content: center;
  position: relative;
  padding:25px 0 0 0;
}

.caption-block_2 {
  font-size:29px;
  margin:0;
}

.item-price_3 {
  color:#007aff;
  font-size:32px;
}

.lateral-select-catalog-block p {
  font-size:20px;
}

.lateral-select-catalog-block {
  display: flex;
  width:50%;
  justify-content: flex-end;
}

.lateral-button-block a {
  display: block;
  border:3px solid #ff3b30;
  text-align: center;
  color:#ff3b30;
  border-radius: 35px;
  padding: 10px 80px 10px 80px;
  font-weight:bold;
  font-size:22px;
}

.block-info {
  padding: 180px 5px 0 0;
}

.lateral-button-block  {
  padding: 193px 0 0 16px;
}

.caption-block_3 {
  float:left;
  padding: 45px 74px;
  font-size:32px;
}

.tabs-labels_1 {
  float:right;
  padding: 54px 75px;
  font-size:24px;
  font-weight:bold;
}

.tabs-labels_1 label{
  padding: 0px 31px;
}

.tabs-labels_1 label:last-child {
  padding:0 0px 0 40px;
}

#first-tabs-block_1:checked ~ .tabs-labels_1 #first-tabs-label_1 {
  color:#ff3b30;
  font-weight:bold;
}

#second-tabs-block_1:checked ~ .tabs-labels_1 #second-tabs-label_1 {
  color:#ff3b30;
  font-weight:bold;
}

#third-tabs-block_1:checked ~ .tabs-labels_1 #third-tabs-label_1 {
  color:#ff3b30;
  font-weight:bold;
}

#fourth-tabs-block_1:checked ~ .tabs-labels_1 #fourth-tabs-label_1 {
  color:#ff3b30;
  font-weight:bold;
}

#first-tabs-block_1:checked ~ #first-tab-content_1 {
  display: block;
  clear: both;
  margin:0 75px;
  background: #f5f5f5;
  padding-bottom:80px;
}

#second-tabs-block_1:checked ~ #second-tab-content_1 {
  display: block;
  clear: both;
  margin:0 75px;
  background: #f5f5f5;
  padding-bottom:80px;
}

#third-tabs-block_1:checked ~ #third-tab-content_1 {
  display: block;
  clear: both;
  margin:0 75px;
  background: #f5f5f5;
  padding-bottom:80px;
}

#fourth-tabs-block_1:checked ~ #fourth-tab-content_1 {
  display: block;
  clear: both;
  margin:0 75px;
  background: #f5f5f5;
  padding-bottom:80px;
}

.tabs-content-wrapper {
  display: flex;
}

.description-tab-block {
  width:45%;
  padding:64px 0px 0 200px;
}

.tabs-text-style_1 {
  color:#ff3b30;
  font-size:18px;
}

.before-link::before {
  content:'';
  background-image:url(../images/tabs-icon_1.png);
  position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 48%;
  transform: translateY(-35%);
}

.before-link {
  position: relative;
  padding-left:40px;
}

.caption-block_4 {
  font-size:32px;
  padding:20px 0 15px 0;
}

.tabs-text_1 {
  color:#979797;
  font-size:20px;
  line-height: 23px;
}

.bottom-description-block {
  display: flex;
  width:100%;
  padding:12px 0 0 0;
}

.bottom-description-item_1 {
  width:100%;
  line-height:17px;
}

.bottom-description-item_2 {
  width:100%;
  line-height: 17px;
}

.caption-block_5 {
  font-size:18px;
  padding:27px 0 14px 0;
}

.caption-block_6 {
  font-size:18px;
  padding:18px 0 14px 0;
}

.description-link {
  color:#007aff;
  font-size:18px;
  font-weight:bold;
  text-decoration: underline;
  line-height: 1.2
}

.right-tabs-block {
  display: flex;
  width:50%;
  justify-content: space-around;
}

.right-tabs-block-image {
  width:70%;
  position: relative;
}

.right-tabs-block-image img {
  width:85%;
}

.button-wrapper1{
  position: absolute;
  position: absolute;
  top: 25%;
  left: 5%;
  cursor:pointer;
 }

.button-wrapper2{
  position: absolute;
  left: 45%;
  top: 67%;
  cursor:pointer;
 }

.button-wrapper3{
  position: absolute;
  left: 70%;
  top: 50%;
  cursor:pointer;
 }

.pulse-button{
  position: absolute;
  border-radius: 50%;
  padding:10px;
  background: #fd6057;
}

.pulse-button:before, 
.pulse-button:after{
  display: block;
  position: absolute;
  content: '';
  display: block;
  border: 50%;
  border: 3px solid #f6896d;
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
}
.pulse-button:after{
  animation-delay: 0.5s;
}

@keyframes animate{
  
  0%{
    transform: scale(0.6);
    opacity: 0;
  } 
  50%{
        opacity: 1;
  }
   100%{
    transform: scale(1.5);
    opacity: 0;
  }
  
}

.tip-block_1 {
  display: none;
}

.button-wrapper1:hover .tip-block_1 {
  position: absolute;
  display: block;
  background: #727272;
  color:#fff;
  width:175px;
  border-radius:8px;
  margin: -96px -69px;
  transition: all 1s;
}

.button-wrapper2:hover .tip-block_1 {
  position: absolute;
  display: block;
  background: #727272;
  color:#fff;
  width:175px;
  border-radius:8px;
  margin: -96px -69px;
  transition: all 1s;
}

.button-wrapper3:hover .tip-block_1 {
  position: absolute;
  display: block;
  background: #727272;
  color:#fff;
  width:175px;
  border-radius:8px;
  margin: -96px -69px;
  transition: all 1s;
}

.tip-block_1 p {
  color:#fff;
  font-size:14px;
  padding:10px 10px 10px 20px;
}

.tip-block_1:after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #727272;
  left: calc(50% - 30px);
  position: absolute;
}

.bottom-item-tabs-block {
  display: flex;
  margin:12px 200px;
  background: #333;
}

.bottom-item-image {
  width:50%;
  position: relative;
}

.bottom-item-image img {
    position: absolute;
    top: 53%;
    left: 52%;
    width:76%;
    transform: translate(-48%, -57%) rotate(51deg);
}


.bottom-item-content {
  width:50%;
  padding: 70px 15px 83px;
}

.stars-block a{
  color:#fff;
}

.caption-style_9 {
  font-size:36px;
  color:#fff;
  margin: 20px 0 7px;
  line-height: 46px;
}

.bottom-item-content p{
  font-size:18px;
  color:#fff;
  opacity:0.5;
  padding: 7px 30px 0 0;
}

.bottom-item-info {
  display: flex;
  flex-direction: column;
}

.info-block_1 , .info-block_2 {
  display: flex;
}

.caption-style_10 {
  color:#fff;
  font-size:18px;
}

.info-block-image {
  display: flex;
  width:13%;
  flex-direction: column;
  justify-content: center;
}

.info-block-image img {
  width:100%;
}

.info-block-text {
  padding: 3px 40px 0 55px;
}

.info-block-text_2 {
  padding: 20px 40px 0 55px;
}

.slider-wrapper {
  padding:50px 75px 40px;
}

.caption-block_7 {
  font-size:32px;
  float:left;
  margin: 0px 0 15px;
}

.switch-controls_1 {
  float:right;
  margin-right: -15px;
  margin-top: 5px;
}

.slider-settings {
  overflow:hidden;
  clear: both;
  border-top: 5px solid #eee;
}

.slider-blocks {
  width:300%;
  display: flex;
  transition: all 0.9s;
}

.slider-catalog_1 {
  width:33.3333%;
}

.slider-catalog-items_1 {
  display: flex;
  justify-content: space-around;
}

.slider-catalog-items_1 li {
  width:20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.item-info-block {
  display: flex;
  flex-direction: column;
}

.item-info-block a {
  color:#333;
  font-size:20px;
}

.item-price-block {
  display: flex;
  justify-content: space-around;
}

.old-item-price_2 {
  font-size:22px;
  color:#bbb;
  text-decoration: line-through;
}

.static-text {
  color:#007aff;
  font-weight:bold;
  font-size:22px;
}

.item-price_4 {
  color:#007aff;
  font-weight:bold;
  font-size:22px;
}

.old-price {
  color:#bbb;
  font-size:22px;
  text-decoration: line-through;
  padding-left:15px;
}

.green-indicator_2 {
  position: absolute;
  right:0;
  top:0;
}

.blue-indicator {
  position: absolute;
  right: 6%;
  top: 5.5%;
  background: #5ac8fa;

}

.tabs-catalog_5 {
  margin: -20px -20px;
}
.slider-catalog-items_1 li {
  text-align: center;
  cursor:pointer;
  margin:58px 0 0 0;
}
.slider-catalog-item {
  padding: 15px 20px;
    border-radius: 10px;
    border: 4px solid transparent;
    transition: .3s;
    display: flex;
    flex-direction: column;
    height:100%;
}

.slider-catalog-item:hover  {
  border-color: #5ac8fa;
}

.slider-catalog-item:hover .hover-text {
  display: block;
  color:#007aff;
  font-weight:bold;
}

.hover-text {
  font-weight:bold;
  display: none;
  font-size:22px;
}

.catalog-item-name a {
  font-size:20px;
  color:#333;
}

.catalog-item-name p {
  height:30px;
}

.slider-catalog-item:hover .static-text {
  display: none;
}

.slider-catalog-item:hover .old-price {
  display: none;
}

.slider-catalog-item:hover .hover-user-items_2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  left:7%;
  top:6%;
}

.catalog-images_2 {
  width:80%;
  margin:0 auto;
}

.catalog-images_2 img {
  width:100%;
}

.hover-user-items_2 {
  display: none;
}

.hover-user-items_2 a:first-child {
  background: #eee;
  border-radius: 50%;
  padding: 18px 15px 10px 15px;
}

.hover-user-items_2 a:last-child {
  background: #eee;
  border-radius: 50%;
  padding: 13px 11px 13px 10px;
  margin-top:10px;
}

.hover-user-items_2 img {
  width:65%;
}

#btn1:checked ~ .switch-controls_1 label:nth-child(3), 
#btn2:checked ~ .switch-controls_1 label:nth-child(1),
#btn3:checked ~ .switch-controls_1 label:nth-child(2){
  background: url(../images/deals-left-arrow.png) no-repeat; 
  display: block;
  height: 30px;
  width: 30px;
  float:left;
}


#btn1:checked ~ .switch-controls_1 label:nth-child(2), 
#btn2:checked ~ .switch-controls_1 label:nth-child(3),
#btn3:checked ~ .switch-controls_1 label:nth-child(1){
  background: url(../images/deals-right-arrow.png) no-repeat; 
  display: block;
  height: 30px;
  width: 30px;
  float:right;
  margin-left:20px;
}

#btn1:checked~.slider-settings .slider-blocks {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

#btn2:checked~ .slider-settings .slider-blocks {
  -webkit-transform: translate(-33.3333%);
      -ms-transform: translate(-33.3333%);
          transform: translate(-33.3333%);
}

#btn3:checked~ .slider-settings .slider-blocks {
  -webkit-transform: translate(-66.6666%);
      -ms-transform: translate(-66.6666%);
          transform: translate(-66.6666%);
}

.categories-catalog-wrapper {
  display: flex;
  padding: 0 75px;
}

.catalog-items-blocks {
  display: flex;
}

.catalog-items-blocks li {
  width:30%;
  display: flex;
}

.catalog-item-image {
  width:100%;
}

.catalog-item-image img {
  width:100%;
}

.catalog-items-block li {
  display:flex;
  width:100%;
  border-top:1px solid #ccc;
}

.catalog-item-name_4 {
  font-weight:bold;
  font-size:14px;
}

.categories-catalog-caption {
  font-size:20px;
  margin:10px 0 12px 0;
}

.item-price_4 {
  font-size:14px;
  font-weight:normal;
  padding:0;
}

.first-catalog-block {
  display: flex;
  flex-direction: column;
  margin: 0 0px 0 35px;
}

.first-catalog-block:first-child {
  margin: 0;
}

.catalog-item-description_6 {
  width:100%;
  padding: 16.5px 0;
  text-align:left;
}

.stars-block_2 {
  padding:4px 0 11px;
  font-size:16px;
}

.catalog-item-name_3 {
  color:#333;
}

.catalog-item-images_3 {
  width:65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.catalog-item-images_3 img {
  width:100%;
}

.fa {
  padding:0 5px 0 0;
}

.catalog-services-items {
  display: flex;
  width:100%;
}

.catalog-services-items li {
  display: flex;
  width:30%;
  border-right: 1px solid #ccc;
  padding: 0 0px 0 35px;
}

.catalog-services-items li:last-child {
  padding: 0 0px 0 43px;
  border:none;
}

.catalog-services-items li:first-child {
  padding: 0 0px 0 35pxpx;
}

.catalog-services {
  padding:114px 75px 35px;
  display: flex;
  justify-content: center;
}

.catalog-item-images_6 {
  width:35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.catalog-item-description_7 {
  width:100%;
  display: flex;
  justify-content: center;
  padding: 10px 25px 0px 0px;
  text-align:left;
}

.catalog-item-description_7 h3 {
  font-size:18px;
  color:#333;
  font-weight:bold;
}

.catalog-item-description_7 span {
  font-size:16px;
  color:#333;
}

.footer-list {
  padding:43px 75px 60px;
  display: flex;
  justify-content: space-between;
}

.site-name {
  font-size:24px;
}

.site-name-style {
  font-weight:normal;
}

.company-number {
  font-size:20px;
  font-weight:normal;
  padding:10px 0 4px;
  font-weight:bold;
}

.icon_1 {
  padding:5px 5px 0 0;
}

.social-icons-block {
  display: flex;
  justify-content: space-between;
  opacity: 0.2;
  padding-top: 43px;
  width: 83%;
}

.contacts-info-block p {
  opacity: 0.4;
  line-height:20px;
}

.left-info-block {
  width:12%;
}

.list-item_1 h3 {
  font-size:20px;
}

.list-item_1 a {
  font-size:18px;
  color:#333;
}

.list-item_1 li {
  padding:8px 0 8px 0;
}
.list-item_1 li:first-child {
  padding:0px 0 8px 0;
}

.list-block_1 {
  width:30%;
}

.right-nav-block-list {
  display: flex;
  width: 100%;
  padding-left: 108px;
  padding-top: 10px;
  line-height: 19px;
}

.list-item_1 {
  display: flex;
  flex-direction: column;
}

.footer {
  background: #eeeeee;
}

.footer-content-wrapper {
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 53px 0 55px 0;
  max-width: 600px;
  width: 100%;
}

.caption-style_8 {
  font-size:32px;
}

.footer-content p {
  font-size:18px;
  padding-top: 10px;
}

.footer-form {
  position: relative;
  margin-top: 12px;
  margin-right: -15px;
  margin-left: 15px;
}

.footer-form input {
  border:none;
  width:100%;
  padding: 16px 0px 16px 20px;
  font-size:18px;
}

.footer-form button {
  border:none;
  background: #fff000;
  font-weight:bold;
  font-size: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 230px;
  width: 100%;
}

.header_2  {
  display: none;
}

.top-info-block {
  padding:0;
}

@media only screen and (min-width: 320px) and (max-width:768px) {
  .header_2 {
    display: block;
  }
  .header {
    display: none;
  }

  .nav {
    display: none;
  }
    .header-content {
    background: #007aff;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 26px 10px;
    position: relative;
  }
  .menu {
    display: none;
    transition: all 2s;
    animation: menu 1s ease-in-out;
  }
  .burger-icon_1,
  .burger-icon_2 {
    color: #fff;
    font-size: 39.5px;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #toogle:checked~.menu {
    display: block;
    background: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    top: 100%;
    z-index: 100;
  }
  @keyframes menu {
    0% {
      transform: scale(0);
      opacity: 0.0;
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .burger-menu:focus~.burger-icon_1,
  .burger-menu:active~.burger-icon_1,
  .burger-icon_1:hover {
    transition: all 0.7s;
  }
  .burger-menu:focus~.burger-icon_2,
  .burger-menu:active~.burger-icon_2,
  .burger-icon_2:hover {
    transition: all 0.7s;
  }
  .burger-icon_2 {
    margin-left: -80px;
    position: absolute;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    text-align: center;
    background: yellow;
    color: #333;
    top: 25%;
    transform: translateY(-50%);
  }
  .burger-icon_1 {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
  }
  #toogle:checked~.burger-icon_1 {
    margin-left: -80px;
    transition: all 0.7s;
    transform: rotate(180deg);
  }
  #toogle:checked~.burger-icon_2 {
    margin-left: 13px;
    transition: all 0.7s;
    transform: rotate(180deg);
  }
  .menu li>a {
    color: #333;
    font-weight: bold;
    font-size: 24px;
  }
  .item-menu {
    border-bottom: 1px solid #ccc;
    padding: 17px 0;
  }
  .sub-item-switch::after {
    content: "";
    background: url('../images/arrow-down.png') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  #sub-switch_1:checked+label::after {
    content: "";
    background: url('../images/hover-arrow-down.png') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 5%;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
  #sub-switch_2:checked+label::after {
    content: "";
    background: url('../images/hover-arrow-down.png') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 5%;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
  #sub-switch_3:checked+label::after {
    content: "";
    background: url('../images/hover-arrow-down.png') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 5%;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
  #sub-switch_4:checked+label::after {
    content: "";
    background: url('../images/hover-arrow-down.png') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 5%;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
  #sub-switch_1:checked+label {
    color: #007aff;
  }
  #sub-switch_2:checked+label {
    color: #007aff;
  }
  #sub-switch_3:checked+label {
    color: #007aff;
  }
  #sub-switch_4:checked+label {
    color: #007aff;
  }
  .sub-item {
    display: none;
  }
  .sub-item-switch {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
  }
  .sub-item li {
    border-bottom: 1px solid #ccc;
    padding: 17px 50px;
    margin: 0 0px;
  }
  .sub-item li:hover {
    opacity: 0.5;
  }
  .sub-item li:last-child {
    border-bottom: none;
  }
  .sub-item:last-child {
    padding-bottom: 0;
  }
  #sub-switch_1:checked~.sub-item {
    display: block;
    margin: 20px 0 -20px;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease-in-out;
  }
  @keyframes sub-menu {
    0% {
      transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    60% {
      transform: translateY(-7%) scaleY(1.12);
    }
    75% {
      transform: translateY(3%);
    }
    100% {
      transform: translateY(0%) scale(1) scaleY(1);
    }
  }
  #sub-switch_2:checked~.sub-item {
    display: block;
    margin: 20px 0 -20px;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
  }
  #sub-switch_3:checked~.sub-item {
    display: block;
    margin: 20px 0 -20px;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
  }
  #sub-switch_4:checked~.sub-item {
    display: block;
    margin: 20px 0 -20px;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
  }
  .static-item-menu {
    padding: 17px;
    border-bottom: 1px solid #ccc;
  }
  .static-item-menu:last-child {
    border-bottom: 0;
  }
  .red-item-menu {
    color: #ff3b30;
  }
  .menu-search {
    display: flex;
    padding-top: 30px;
  }
  .search {
    margin: 0 17px;
    width: 100%;
  }
  .search input {
    border: 2px solid #007aff;
  }
  .search button {
    background: none;
  }
  .social-icons-block {
    justify-content: center;
    padding: 40px 0 30px;
    width: 100%;
    opacity: 1;
  }
  .icon_1 {
    padding: 5px 18px 5px 18px;
    opacity: 0.2;
  }
  .icon_3 {
    opacity: 0.5;
  }
  .middle-footer-block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 20px;
  }
  .middle-footer-block span {
    font-size: 18px;
    opacity: 1;
  }
 
  .red-indicator_1 {
    background: #ff3b30;
    color:#fff;
    bottom: 0;
    right: 0;
    top:inherit;
    width:31px;
    height:31px;
    
  }
  .top-user-buttons {
    background: url('../images/user-indicator-image_4.png') no-repeat;
    width:50px;
    height:50px;
    display: block;
  }
  .top-user-buttons_2 {
    background: url('../images/user-indicator-image_5.png') no-repeat;
  }
  .top-user-buttons_3 {
    background: url('../images/user-indicator-image_6.png') no-repeat;
  }
  .user-indicator-items {
    display: flex;
  }
  .user-indicator-items li {
    padding:0px;
    width:100%;
  }
  .user-indicators-block {
    padding:0px;
  }

  .user-indicator-item {
    position: relative;
    padding:0 0px;
    margin:4px 0 0 0;
  }
    .user-indicator-item:last-child {
    padding:0 0 0 26px;
  }
  .user-indicator-item:first-child {
    margin:4px 30px 0 0;
  }
  .content {
    display: none;
  }
  .indicator {
    bottom: 0;
    right: 0;
    top:inherit;
    width:31px;
    height:31px;
    padding:3px;
  }
  .red-indicator {
    bottom:8px;
    right:-2px;
  }
    .indicator_2 {
    bottom:9px;
    right:3px;
    padding:3px;
  }
    .indicator_1 {
    bottom:10px;
    right:1px;
    padding:3px;
  }
  .user-sub-menu, .user-sub-menu_2, .user-sub-menu_3 {
    display: none;
  }
   #user-button_1:checked~.user-sub-menu {
    position: absolute;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
    display: block;
    z-index:20;
    width:300px;
    height:200px;
    border-radius: 8px;
    right: 3%;
    top:80%;
  }
  #user-button_2:checked~.user-sub-menu_2 {
    position: absolute;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
    display: block;
    z-index:20;
    width:300px;
    height:200px;
    border-radius: 8px;
    right: 3%;
    top:80%;
  }
  #user-button_3:checked~.user-sub-menu_3 {
    position: absolute;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
    display: block;
    z-index:20;
    width:300px;
    height:200px;
    border-radius: 8px;
    right: 3%;
    top:80%;
  }
     #user-button_2:checked~.user-sub-menu_2 {
    position: absolute;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
    display: block;
    z-index:20;
  }
     #user-button_3:checked~.user-sub-menu_3 {
    position: absolute;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
    display: block;
    z-index:20;
  }
    #user-button_1 ~.user-sub-menu {
      display: none;
  }
  .close-button {
    font-size:40px;
    position: absolute;
  }
  .list-caption {
    padding:20px;
  }

  .user-sub-menu::after {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #f5f5f5;
    left: calc(44% - 2px);
    position: absolute;
    top: -13px;
    transform: rotate(180deg);
  }
    .user-sub-menu_2::after {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #f5f5f5;
    left: calc(82% - 13%);
    position: absolute;
    top: -13px;
    transform: rotate(180deg);
  }
    .user-sub-menu_3::after {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #f5f5f5;
    left: calc(90% - 1px);
    position: absolute;
    top: -13px;
    transform: rotate(180deg);
  }
  .page-swift-section {
    display: none;
  }
  .product-blocks-wrapper {
    flex-direction: column;
    padding:20px;
  }
  .lateral-block-items {
    width:100%;
  }
  .lateral-block-item-info {
    width:100%;
    padding:20px 0;
  }
  .carousel-control-arrow {
    bottom: -11px;
    right: -5px;
    top:inherit;
  }
  .middle-description-block h3 {
    font-size:28px;
    padding-top:11px;
  }
  .hidden-item {
    display: none;
  }
  .stars-block a {
    color:#333;
  }
  .old-item-price {
    font-weight:normal;
  }
  .second-button a:last-child {
    display: none;
  }
  .third-button a:last-child {
    display: none;
  }
  .first-button {
    width:47%;
  }
  .user-buttons {
    justify-content: inherit;
    padding:16px 0;
  }
  .caption-block_1 {
    margin:0 20px;
  }
  .catalog-select-wrapper {
    padding:0 20px;
    flex-direction: column;
  }
  .select-catalog_1 {
    width: 100%;
    overflow-x:scroll;
    overflow-y:hidden;
    padding:20px 0 0 0;
  }
  .select-catalog_1::-webkit-scrollbar { width: 0; }
  * {
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
  }
  .select-catalog-items {
    width:168%;
  }
    .select-catalog-items li {
    width:20%;
    border-right:1px solid #ccc;
  }
    .select-catalog-items li:last-child {
    border-right:none;
  }
  .lateral-select-catalog-block {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 53px;
  }
  .block-info {
    padding:0;
    line-height: 31px;
  }
  .lateral-button-block {
    padding:0;
  }
  .lateral-button-block a {
    padding:11px 33px 11px 33px;
  }
  .caption-block_2 {
    font-size:24px;
  }
  .lateral-select-catalog-block p {
    font-size: 16px;
  }
  .caption-block_3 {
    display: none;
  }
  .nav-section, .categories-catalog-wrapper, .bottom-item-image {
    display: none;
  }
  .tabs-labels_1 {
    padding:43px 20px 6px;
    overflow-x: scroll;
    white-space: nowrap;
    float:none;
  }
  .tabs-labels_1 label {
    padding:0 20px;
  }
  .tabs-labels_1 label:first-child {
    padding:0 20px 0 0px;
  }
  .description-tab-block {
    width:100%;
    padding: 22px 42px 60px;
  }
  .tabs-content-wrapper {
    flex-direction: column-reverse;
  }
  .right-tabs-block {
    width: 100%
  }
  #first-tabs-block_1:checked ~ #first-tab-content_1 {
    margin:0 0px;
    padding:0;
  }
    #second-tabs-block_1:checked ~ #second-tab-content_1 {
    margin:0 0px;
    padding:0;
 }
    #third-tabs-block_1:checked ~ #third-tab-content_1 {
    margin:0 0px;
    padding:0;
  }
    #fourth-tabs-block_1:checked ~ #fourth-tab-content_1 {
    margin:0 0px;
    padding:0;
  }
  .bottom-item-tabs-block {
    margin:0;
  }
  .bottom-item-content {
    width:100%;
    padding: 72px 20px 77px;
  }
  .slider-catalog-items_1 li {
    width:50%;
    margin:20px 0 0;
  }
  .slider-catalog-items_1 {
    flex-wrap:wrap;
  }
  .slider-wrapper {
    padding: 48px 20px 0;
  }
  .slider-settings {
    overflow-x: scroll;
  }
  .catalog-services-items {
    flex-wrap: wrap;
  }
  .catalog-services-items li {
    width:50%;
    display: flex;
    justify-content: space-between;
    padding:13px 10px;
    border-right: none;
  }
  .catalog-item-description_7 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 0 10px;
}
  .catalog-services {
    padding:40px 10px 52px;
}
  .catalog-services-items li:last-child {
    padding:0 0 0 10px;
  }
  .catalog-item-images_6 {
    width: 38%;
    text-align: center;
  }
    .catalog-services-items li:nth-child(1n+1) {
    border-bottom: 1px solid #ccc;
  }
  .caption-style_8 {
    font-size:24px;
  }
  .footer-content p {
    font-size:18px;
  }
  .footer-content {
    padding:42px 0 100px 0;
  }
  .footer-form {
    margin:0;
  }
  .footer-form button {
    display: none;
  }
  .footer-form input {
    border:2px solid #5ac8fa;
    padding:13px 0 13px 20px;
  }
  *::-webkit-scrollbar {
    width: 0;
}
.images-slider-labels label {
  margin: 0 0 10px;
}
.images-slider-labels {
  margin: 0 -70px 0 0;
  z-index: 10
}
.images-slider-tab-content {
  width: 100%;
  margin:0;
}
.select-block-wrapper {
  padding:25px 0 0 0 ;
  display: flex;
  justify-content: space-between;
}
.secect-form {
  display: initial;
}

.select-product-block {
  display: initial;
}
.product-text_2 {
  padding: 9px 0 23px;
}
.select-block_1 {
  margin: 0 0 0 20px;
  width: 35%;
  font-size:22px;
  padding:10px 8px 10px 62px;
}

.select-block_2 {
  width:46%;
  padding:10px 15px 10px 15px;
  font-size: 16px;
}
.select-block_3 {
  width:46%;
  padding:10px 15px 10px 15px;
  font-size: 16px;

}
.select-form select {
  font-weight:bold;
}
.select-form  {
  display: initial;
}
.second-button {
  margin: 4px 35px 4px 41px;
}
.third-button {
  margin:4px 0;
}
.checkbox-block {
  padding:0;
}
.right-tabs-block-image {
  width:85%;
}
.bottom-description-item_2 {
  padding-left: 32px;
}
.info-block-image {
  width:15%;
}
.info-block-text {
  padding:3px 0 0 15px;
}
.info-block-text_2 {
  padding:47px 0 0 15px;
}
.green-indicator_2 {
  right:20px;
  top:20px;
}

.blue-indicator {
  top:20px;
  right:7%;
}
.slider-catalog-item {
  padding:13px 20px;
}

}